/BUTTON
/Düzenlenecekler
/GAME
/glitchEffect2.css
/glitchEffect2.html
/LOADİNG
/LOGIN
/onePaceWebsite.css
/onePaceWebsite.html
/onePaceWebsite.js
/resim
/seansOcean.css
/seansOcean.html
/seansOcean.js
/Website.css
/Website.html
/Website.js